{
    "useTabs": false,
    "quoteProps": "as-needed",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "trailingComma": "es5",
    "printWidth": 120,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^(@/.*|[./]|src/|../)"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
